include ../partials/header.pug
h1 Qui prend quoi ?
h2= party.name
h3 Créé par #{party.author}
label(for="url") Partagez l'événement
input(id="url" value=`${url}`)

h3 Liste des items
each item in items
  li= item.name 
  span ecrit par #{item.user}
br

form(method="post" action=`/party/${id}/items`)
  div
    label(for="name") Nom de l'item 
    input(name="name" id="name" required minlength="3" type="text" placeholder="Nouvel an")
    label(for="user") Auteur de l'item
    input(name="user" id="user" required minlength="3" type="text" placeholder="Auteur de l'événement")
  button(type="submit") Créer
  
